<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Node e MySQL</title>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav id="navbar">
      <ul>
        <li><a href="/">Cadastrar</a></li>
        <li><a href="/books">Ver livros</a></li>
      </ul>
    </nav>
    {{{body}}}
  </body>
</html>