<h1>
    Adicionando Usuário
</h1>

<form action="/users/create" method="post" class="form">
    <div class="form-controll">
        <label for="name">Nome: </label>
        <input type="text" name="name" placeholder="Digite o Nome do Usuário" >
    </div>
    <div class="form-controll">
        <label for="occupation">Ocupação: </label>
        <input type="text" name="occupation" placeholder="Digite a profissão">
    </div>
    <div class="form-controll form-checkbox">
        <input type="checkbox" name="newsletter" checked>
        <label for="newsletter">Enviar promoções? </label>
    </div>
    <input type="submit" value="cadastrar">
</form>