
    <h1> Olá Handlebars</h1>
    <p> O nome do user é {{user.name}} {{user.surname}}</p>

    {{#if auth}}

    <p>
        vocÊ esta autenticado,<a href="/dashboard"> click</a> se quiser acessar a aba de membros
    </p>

    {{else}}

    <p>Faça o login, pois você precisa de autenticação</p>

    {{/if}}