* {
  font-family: Helvetica;
}

h1 {
  text-align: center;
}

.form, .books-container {
  width: 450px;
  margin: 0 auto;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5em;
}

.form-control label {
  font-weight: bold;
  margin-bottom: 0.3em;
}
.form-control input {
  padding: 5px;
}


.books-container div{
  border-bottom: 1px solid #CCC;
  padding: 5px;
  margin: 5px;
}

.bold{
  font-weight: bold
}
