<h1>Livros disponíveis: </h1>

<div class="books-container">
    {{#each books}}
        <div>
            #{{this.id}} - <span class="bold"><a href="/books/{{this.id}}"> {{this.title}}</span></a>
             - {{this.pgqty}} páginas
        </div>
    {{/each}}
<a href="/">Adicionar novos Livros</a>
</div>
