<div id="book-page">
    <a href="/books">Voltar</a>

    <div class="container">
        <h1>{{book.title}}</h1>
        <p>Este livro tem {{book.pgqty}} páginas.</p>
        <div class="actions">
            <a href="/books/edit/{{book.id}}">Editar</a>
        </div>
        <form action="/books/remove/{{book.id}}" method="post">
            <input type="submit" value="Remover">
        </form>
    </div>
</div>