<h1>
  Edite seu livro
</h1>
<form action="/books/updatebook" method="post" class="form">
    <input type="hidden" name="id" value="{{book.id}}">
    <div class="form-control">
        <label for="title">Titutlo</label>
        <input type="text" name="title" placeholder="Digite o Titulo" required value="{{book.title}}"/>
    </div>
    <div class="form-control">
        <label for="pgqty">Quantidade de páginas</label>
        <input type="number" name="pgqty" placeholder="Digite o número de páginas" required value="{{book.pgqty}}"/>
    </div>
    <input type="submit" value="Editar">
</form>