<h1>
  Cadastre seu livro
</h1>
<form action="/books/insertbook" method="post" class="form">
    <div class="form-control">
        <label for="title">Titutlo</label>
        <input type="text" name="title" placeholder="Digite o Titulo" required/>
    </div>
    <div class="form-control">
        <label for="pgqty">Quantidade de páginas</label>
        <input type="number" name="pgqty" placeholder="Digite o número de páginas" required/>
    </div>
    <input type="submit" value="Cadastrar">
</form>