<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Handlebars </title>
</head>
<body>
    <nav>
        <p>Barra de navegação</p>
    </nav>
    {{{body}}}

    <footer>
        <p>rodapé</p>
    </footer>
</body>
</html>